html{
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #D0D0D0;
  font-family: 'Open Sans', sans-serif;
}
title {
  color: #fa8072;
  font-family: 'Open Sans', sans-serif;
  text-align: center
  font-size: 48px
}
h3 {
  color: #fa8072;
  font-family: 'Open Sans', sans-serif;
  text-align: center
  font-size: 48px
}

h2 {
  color: #fa8072;
  font-family: 'Open Sans', sans-serif;
  text-align: center
  font-size: 24px
}

l1 {
  font-size: 14px
}

.footer-nav {
  border-bottom: solid 1px #f96706;
  border-top: solid 1px #f96706;
}

#buttons {
  text-align: justify
}

.about-text {
  font: 'Open Sans', sans-serif;
}
