#profilepic {
  height: 100px;
}
body {
  background-color: #b2b2b2;
}
title {
  color: #f18973;
}
h3 {
  color: #f18973;
}

l1 {
  font-size: 14px
}

.footer-nav {
  border-bottom: solid 1px #f96706;
  border-top: solid 1px #f96706;
}
