html {
  font-family: Helvetica;
  font-weight: lighter;
}

body {
  border-top-style: dotted;
  background-color: #D0D0D0;
}

title {
  color: #fa8072;
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
  font-size: 80px;
}

h1 {
  color: #fa8072;
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
  font-size:80px;
}

h3 {
  color: #fa8072;
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
}

h2 {
  color: black;
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
  font-size: 24px;
}

#buttons {
  text-align: justify;
  position: absolute;
  margin: auto;
}

#links {
  text-align: center;
  padding: 2cm;
  word-spacing:3em;
  font-family: Helvetica;
  font-weight: lighter;
  border-style: solid
  border-radius: 5px;
}

#about-text {
  font: Helvetica;
  font-weight: lighter;
  text-align: center;
}

#megan {
  border-radius: 70%;
  height: 200px;
  margin: 5%;
  align: center;
}

#blog-head {
  font: Helvetica;
  font-weight: lighter;
  font-size: 24px;
}
