    </div>
  </body>
  <footer>
    <div class="row">
      <div class="col s9 push-s3"></div>
      <div class="col s3 pull-s9">
        <a href="mailto:meganftalbot@gmail.com">
          <span style="font-size: 1.5em;" class="footer-icon">
            <i class="fas fa-envelope-square"></i>
          </span>
       </a>
       <a href="https://twitter.com/megantalbot">
         <span style="font-size: 1.5em;" class="footer-icon">
           <i class="fab fa-twitter-square"></i>
         </span>
       </a>
       <a href="https://github.com/meganft">
         <span style="font-size: 1.5em;" class="footer-icon">
           <i class="fab fa-github-square"></i>
         </span>
       </a>
       <a href="https://www.linkedin.com/in/megan-talbot">
         <span style="font-size: 1.5em;" class="footer-icon">
           <i class="fab fa-linkedin"></i>
         </span>
       </a>
     </div>
   </div>
</footer>
</html>
