    </div>
  </body>
  <footer>
    <div class="row">
      <i class="fab fa-github-square"></i>


      <div class="col s9 push-s3"></div>
      <div class="col s3 pull-s9">
       <a href="mailto:meganftalbot@gmail.com">
         <img src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/email-2048-black.png" width="35"; height="35" id="email-icon">
       </a>
       <a href="https://twitter.com/megantalbot">
         <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_black-512.png" width= "28"; id="twitter-icon" >
       </a>
       <a href="https://github.com/meganft">
         <img src="../images/github.svg" width= "27"; id="github-icon">
       </a>
       <a href="https://www.linkedin.com/in/megan-talbot">
         <img src="../images/linkedin.png" width = "27"; id="linked-icon">
       </a>
       <a href="https://angel.co/megan-talbot">
         <img src="https://maxcdn.icons8.com/Share/icon/Logos//angelist1600.png" width="27"; id="angel-icon" >
       </a>
     </div>
   </div>
</footer>
</html>
