    </div>
  </body>
  <p id="buttons">
  				<a href="mailto:meganftalbot@gmail.com"><img src="https://openclipart.org/image/2400px/svg_to_png/216531/Mail-Icon-White-on-Grey.png" width= "28"; text-align= "right"; padding=2cm; ></a><a href="https://www.linkedin.com/in/megan-talbot" ><img src="http://image.flaticon.com/icons/svg/34/34227.svg" width = "27";text-align = "right"; padding=2cm;  ></a><a href="https://twitter.com/megantalbot">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_black-512.png" width= "28"; text-align= "right"; padding=2cm; ></a><a href="https://github.com/meganft"><img src="http://image.flaticon.com/icons/svg/25/25231.svg" width= "27" text-align= "right"; padding=2cm; ></a>
</html>
