<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title{{ site.title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <link href="/css/styles.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>
<body>
  <h1>{{ site.title }}</h1>
  <div>
  </div>
